# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/Makefile
cmake-build-debug/SENG1120_A2.exe.stackdump
cmake-build-debug/untitled2.cbp
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/feature_tests.bin
cmake-build-debug/CMakeFiles/feature_tests.c
cmake-build-debug/CMakeFiles/feature_tests.cxx
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/3.14.3/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.14.3/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.14.3/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.14.3/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.14.3/CMakeRCCompiler.cmake
cmake-build-debug/CMakeFiles/3.14.3/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.14.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.14.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/SENG1120_A2.dir/build.make
cmake-build-debug/CMakeFiles/SENG1120_A2.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/SENG1120_A2.dir/CXX.includecache
cmake-build-debug/CMakeFiles/SENG1120_A2.dir/depend.internal
cmake-build-debug/CMakeFiles/SENG1120_A2.dir/depend.make
cmake-build-debug/CMakeFiles/SENG1120_A2.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/SENG1120_A2.dir/flags.make
cmake-build-debug/CMakeFiles/SENG1120_A2.dir/link.txt
cmake-build-debug/CMakeFiles/SENG1120_A2.dir/progress.make
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/SENG1120_A2.vcxproj
build/SENG1120_A2.vcxproj.filters
build/untitled2.sln
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-ceb7ddb96232983f55ec.json
build/.cmake/api/v1/reply/codemodel-v2-4d8ab7aea1f19b2c23ce.json
build/.cmake/api/v1/reply/index-2020-10-19T09-45-27-0209.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-7029d8dcb5fa616ed369.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-7029d8dcb5fa616ed369.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-7029d8dcb5fa616ed369.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-7029d8dcb5fa616ed369.json
build/.cmake/api/v1/reply/target-SENG1120_A2-Debug-35a607e90764999bd85c.json
build/.cmake/api/v1/reply/target-SENG1120_A2-MinSizeRel-0f9ae397318ef11803fe.json
build/.cmake/api/v1/reply/target-SENG1120_A2-Release-c6dc73a1fd91a44222ec.json
build/.cmake/api/v1/reply/target-SENG1120_A2-RelWithDebInfo-c0b9c4c0acbc7e121888.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Debug-ffd336788b2cec412758.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-MinSizeRel-ffd336788b2cec412758.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Release-ffd336788b2cec412758.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-RelWithDebInfo-ffd336788b2cec412758.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.17.20032601-MSVC_2/CMakeCCompiler.cmake
build/CMakeFiles/3.17.20032601-MSVC_2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.17.20032601-MSVC_2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.17.20032601-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.17.20032601-MSVC_2/CMakeRCCompiler.cmake
build/CMakeFiles/3.17.20032601-MSVC_2/CMakeSystem.cmake
build/CMakeFiles/3.17.20032601-MSVC_2/VCTargetsPath.txt
build/CMakeFiles/3.17.20032601-MSVC_2/VCTargetsPath.vcxproj
build/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.17.20032601-MSVC_2/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/dba1e3c04a2f1218062f8ba36d6f8243/generate.stamp.rule
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
.idea/.name
.idea/discord.xml
.idea/misc.xml
.idea/modules.xml
.idea/SENG1120_A2.iml
.idea/vcs.xml
.idea/workspace.xml
